<h2>Productos</h2>

<div id="products">
    {{#each products}}
        <div class="card">
            <img src="{{this.thumbnail}}" alt="{{this.title}}">
            <h3>{{this.title}}</h3>
            <p>${{this.price}}</p>
            <button onclick="addToCart('{{this.id}}')">Agregar al carrito</button>
        </div>
    {{/each}}
</div>

<script src="/js/cart.js"></script>





