<h2>📱 Catálogo de Celulares</h2>

<div class="products">
{{#each products}}
    <div class="card">
        <img src="{{image}}">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <p class="price">$ {{price}}</p>
        <button class="cart" onclick="addToCart('{{id}}')">
            Agregar al carrito
        </button>
    </div>
{{/each}}
</div>


